<ion-tabs class="tabs-icon-only tabs-striped tabs-background-dark tabs-color-balanced">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Blog" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/blog">
    <ion-nav-view name="tab-blog"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Twitter" icon-off="ion-social-twitter-outline" icon-on="ion-social-twitter" href="#/tab/twitter">
    <ion-nav-view name="tab-twitter"></ion-nav-view>
  </ion-tab>


</ion-tabs>